.banner{
font-size: 2em;
}
body{
 max-height: 100vh;
}
main{
height: 81.5vh;
}
.form-container{
justify-content:center;
align-items: center;
flex-wrap: wrap;
}
.container{
flex: 2;
margin: 20px;
}
fieldset{
  box-shadow: 5px 5px 5px #98c0f7;

}
.image-container{
flex: 1;
}
.submitbtn{
position: relative !important;
bottom: 0px;
}
#firstNameErr, #LastNameErr, #numberror, #Natiderr{
  font-size: 9px;
  color: red;
  display: none;
  margin: auto;
  padding-bottom: 0px;
}
#Nattid{
  width:262px;;
}
#firstname1{
  width: 262px;
}
.first_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.homeButton{
  border: none;
  color: #0d346b;
  border-radius: 2px;
  padding: 5px 10px;
}