@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&family=Rubik&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
main{
	background-image:linear-gradient(to right, #c7dcfa ,  #8cc5e6 );
}
fieldset{
	background-image:linear-gradient(to right, #a1cee9 60%,#79bce2,#269de2  );


}
legend{
 padding: 15px;
}
button{
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  box-shadow: 5px 2px 5px #98c0f7;

}
.db{
display: block;
}
.bglightblue{
 background-color:  #97d0f1;
}
.bglighterblue{
 background-color:  #c7dcfa;
}
.bgwhite{
  background-color: #ffffff;
}
.txtblue{
  color:  #072247;
}
.txtred{
   color: red;
}
.txtdark{
   color: black;
}
a{
 text-decoration: none;
 color:  #072247;

}
.dflex{
display: flex;
}
.jcc{
 justify-content: center;
 align-items: center;
}
.aic{
  align-items: center;
}
.p-5{
   padding: 5px;
}
.ml-15{
 margin-left: 15px;
}
.fw-b{
 font-weight: bold;
}
footer{
 text-align: center;
}